body{
    margin:0px;
}

article{
    width:100%
}

#nav-bar{
    position:fixed;
}

.article-text-box{
    width:100%;
    max-width:600px;
    margin:auto;
}

.author{
    font-weight: bold;
}

hr{
    color:dimgrey;
    opacity: 10%;
}

#fixed-footer{
    position: fixed;
    top: 100vh;
    margin-top: -50px;
    border-top: 1px solid black;
    background: white;
    width:100%;
    padding-left:20px;
}

#main-image{
    width: 100%;
    height:auto;
    max-width: 1200px;
    margin: auto;
    display: block;
}